# Ignore virtual environment
ecom_venv/

# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore database files (SQLite)
*.sqlite3

# Ignore environment variables
.env

# Ignore Django secret key if stored in settings
*.key

# Ignore static and media files
staticfiles/
media/
